[build]
  command = "npm run build"
  functions = "functions"  
  publish = "dist"

[dev]
  command = "yarn webpack"
  targetPort = 8080
  publish = "dist"
  autoLaunch = true
  framework = "#custom"


[[redirects]]
  from = '/api/*'
  to = '/.netlify/functions/:splat'
  status = 200

[[redirects]]
  from = '/*'
  to = '/:splat'
  status = 200