.daily-log-card {
  display: flex;
  .subtitle {
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
  }
  .column-one {
    flex: 1;
  }
  .tags {
    margin-top: 10px;
  }
  .photo {
    flex: 0 0 100px;
    height: 100px;
    width: 100px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
