.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stack {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
  > * {
    margin: 0 0 10px;
  }
}

.row {
  display: flex;
  margin: 10px -10px 10px 0px;
  align-items: center;
  > *:not(.row) {
    margin: 0 10px 0 0;
  }
  // &:not(.inline) > *:not(.row) {
  //   flex: 1;
  // }
  > .row {
    margin: 0;
  }
  &.align-right {
    justify-content: flex-end;
  }
  &.align-left {
    justify-content: flex-start;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.reverse {
    flex-direction: row-reverse;
  }
  &.tight {
    margin-right: -5px;
    > * {
      margin-right: 5px;
    }
  }
}
