.popup {
  background: linear-gradient(180deg, rgba(61, 90, 106, 0.94) 0%, rgba(38, 61, 74, 0.98) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: calc(100vw - 20px);
  height: calc(100vh - 70px);
  max-width: 600px;
  position: fixed;
  top: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.1s ease-out, opacity 0.2s ease;
  left: 10px;
  &.from-right {
    left: auto;
    right: 10px;
  }
  z-index: 4;
  &.closed {
    transform: translateX(-100vw);
    &.from-right {
      transform: translateX(100vw);
    }
    opacity: 0;
  }
  .popup-title {
    font-family: Monoton;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 56px;
    letter-spacing: 0.15em;
    color: var(--gold);
    margin: 45px 0 0 0;
  }
  .popup-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
  .popup-close {
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.08);
    svg {
      color: var(--white);
      font-size: 20px;
    }
  }
}
