html button,
html body a[role="button"] {
  --color: var(--white);
  padding: 0;
  // display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  min-width: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  transition: all 250ms ease 0s;
  outline: none;
  border: 1px solid var(--color);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;

  //   OUTLINE BUTTON
  background: transparent;

  color: var(--color);
  // border-color: var(--blue-900);
  &.clear {
    border-color: transparent;
    background: transparent;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.15);
    //   background-color: #d9e5f521;
  }
  &:active {
    // background-color: var(--gold-200);
    // border-color: var(--gold-200);
    background: rgba(255, 255, 255, 0.2);
    //   background: #d9e5f534;
    border-color: #d9e5f534;
    // color ()
  }
  &:disabled {
    opacity: 0.5;
  }
  &:focus {
    box-shadow: 0 0 2px 1pt var(--pink);
  }
  &.gold {
    --color: var(--gold-500);
    &:hover {
      background: #000000;
    }
    &:active {
      // background-color: var(--gold-200);
      // border-color: var(--gold-200);
      background: #ffc97d38;
      border-color: #ffc97d38;
    }
  }
  &.scary {
    --color: #ffacac;
  }
  &.large {
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
  }
  &.solid {
    --color: var(--blue);

    color: var(--white);
    background-color: var(--color);
    &:hover {
      background-color: #5686aa;
      border-color: #5282a7;
    }

    &:active {
      // background-color: color-mod(var(--color) lightness(10%));
      background-color: var(--blue-400);
      border-color: var(--blue-400);
    }

    &.gold {
      --color: var(--gold-300);

      &:hover {
        background-color: var(--gold-400);
      }
      &:active {
        background-color: var(--gold-200);
        border-color: var(--gold-200);
      }
    }
  }
  &.borderless {
    border: none;
  }
  &.icon-button {
    border: none;
    font-size: 1.35rem;
  }
}
