.daily-log-card {
  .subtitle {
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
  }
  .row-two {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 20px;
    .photo {
      height: 90px;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 4px;
      }
    }
    .day-count {
      font-weight: 600;
    }
    .tags .tag {
      font-size: 12px;
      line-height: 8px;
    }
    .column-two {
      display: grid;
      grid-template-rows: auto auto auto;
      gap: 5px;
      align-items: center;
    }
  }
  .dailyLog-title {
    margin-bottom: 15px;
  }
  .memories {
    margin-top: 2rem;
    color: #eee;
    font-size: 0.87rem;

    &.preview > div {
      border-top: 1px solid #ffffff4a;
      padding: 15px 0;
    }
  }
}

.dailyLog-title {
  font-family: var(--textFont);
  color: var(--white);
  font-size: 42px;
  line-height: 38px;
  margin: 10px 0 10px 0;

  // display: flex;
  // justify-content: space-between;
  .date {
    font-weight: 600;
    letter-spacing: -2px;
  }
  .day {
    font-weight: 200;
    text-transform: uppercase;
    margin-right: 5px;
  }
}

.daily-log-trip {
  font-size: 14px;
  letter-spacing: 1px;
  .day-count {
    font-weight: bold;
    margin-right: 4px;
  }
  a,
  a:visited {
    color: var(--pink);
  }
}

.dailyLog-details {
  .dailyLog-title {
    margin: 30px 0;
  }
  .daily-log-trip {
    margin: 10px 2px;
  }
  .memories {
    margin: 40px 0;
    font-size: 0.9rem;
    letter-spacing: 0.2px;
    line-height: 1.25rem;
  }
}
footer.dailyLog-details {
  > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.memories {
  .memory {
    max-width: 100%;
    width: 600px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 0 5px 5px 0;
    border-left: 5px solid var(--pink);
    padding: 10px;
  }
}
