.trip-card {
  .trip-title {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .trip-dates {
    margin-right: 6px;
    text-align: right;
    flex: 0 0 70px;
  }

  .row {
    margin: 20px 0;
    align-items: flex-start;
  }
  .row:first-child {
    margin-top: 0;
  }
}
.trip {
  .trip-title {
    font-weight: 100;
  }
  .num-days span {
    font-weight: bold;
  }
  .date {
    color: #ccc;
  }
  .num-days {
    text-transform: uppercase;
  }
  .destination {
    font-style: italic;
  }
  .destination-tags > *:nth-child(2) {
    margin-top: 15px;
  }
}
.trip-details {
  .trip-title {
    font-size: 1.8rem;
  }
  .date-row {
    margin-bottom: 30px;
  }
}
