@import "./theme.scss";
html {
  background: var(--gradientBackground);
}

body.noscroll {
  overflow: hidden;
}

.content {
  padding: calc(env(safe-area-inset-top, 0px) + 50px) 15px 120px;
}
body * {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
