@import "./theme.scss";
@import "./resets.scss";

html {
  background: var(--gradientBackground);
}

.content {
  padding: 10px 10px;
  padding-top: 40px;
  padding-bottom: 60px;
}

@import "./typography.scss";
@import "./inputs.scss";
@import "./layout.scss";
