@import "./theme.scss";
@import "./resets.scss";
@import "./infinite.scss";
html {
  background: var(--gradientBackground);
}

body.noscroll {
  overflow: hidden;
}

.content {
  padding: 50px 15px 120px;
}
.shadowed {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}
body * {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
@import "../core/components/typography/typography.scss";
@import "../core/components/inputs/inputs.scss";
@import "../core/components/layout/layout.scss";
@import "../core/components/surfaces/surfaces.scss";
@import "../features/trips/trips.scss";
@import "../features/dailyLogs/dailyLogs.scss";
@import "../features/photos/photos.scss";
