@import "./theme.scss";
@import "./resets.scss";
@import "./infinite.scss";
html {
  background: var(--gradientBackground);
}
body {
  box-sizing: border-box;
  // height: 100vh;
  // padding-top: env(safe-area-inset-top, 0px);
  // padding-top: 40px;
  // font-weight: 00;
}
body.noscroll {
  overflow: hidden;
}

.content {
  padding: 50px 15px 30px;
}
body * {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
@import "./layout.scss";
@import "../components/typography/typography.scss";
@import "../components/inputs/inputs.scss";
@import "../components/surfaces/surfaces.scss";
@import "../features/trips/trips.scss";
@import "./dailyLogs.scss";
// @import "../features/dailyLogs/dailyLogs.scss";
// @import "../features/photos/photos.scss";

html body .fab-container {
  position: fixed;
  z-index: 10;
  align-items: center;
  bottom: max(env(safe-area-inset-top, 20px), 16px);
  right: 8px;
  display: flex;
  gap: 8px;
}
html body .fab-container.left {
  left: 8px;
}
html body .fab-container .btn {
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 200ms;
  /* box-shadow: 0px 37px 20px -15px rgba(0, 0, 0, 0.2); */
  /* transform: translate(0px, -3px); */
}
html body .fab-container .btn:active {
  box-shadow: 0px 14px 9px -13px rgba(0, 0, 0, 0.4);
  /* transform: translate(0px, -2px); */
}
html body .menu > li > * {
  border-radius: 8px;
}
html .menu > li > a {
  font-weight: 500;
}
html .menu[class*=" p-"] li > *,
html .menu[class^="p-"] li > * {
  border-radius: 8px;
}
a {
  font-weight: 500;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

html input[type="date"] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  // min-height: 1.2em;
}

html .tab.tab-active {
  border-color: var(--pink-500);
}
