.card.dailylog-card {
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;

  .big-date {
    margin-bottom: 4px;
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    border-radius: 3px;
    opacity: 1;
  }
  .overlay-dark {
    background: radial-gradient(
      ellipse,
      rgba(20, 36, 47, 0.2),
      rgba(12, 25, 34, 0.4) 65%
    );
  }
  .tags .tag {
    background: rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  }

  .photo-count {
    // position: absolute;
    // bottom: 5px;
    // right: 5px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    background: transparent;
    padding: 3px 5px;
    border-radius: 11px;
    .photo-count-number {
      margin-right: 2px;
      font-size: 0.85rem;
    }
  }
  .dailylog-card-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    grid-template-areas:
      "tags       tags"
      "location   photo-count";

    .tags {
      grid-area: tags;
    }
    .location {
      grid-area: location;
    }
    .photo-count {
      grid-area: photo-count;
    }
  }
}

.dailyLog-title {
  font-family: var(--textFont);
  color: var(--white);
  font-size: 42px;
  line-height: 38px;
  margin: 10px 0 10px 0;

  // display: flex;
  // justify-content: space-between;
  .date {
    font-weight: 500;
    letter-spacing: -1px;
  }
  .day {
    font-weight: 200;
    text-transform: uppercase;
    margin-right: 5px;
  }
}

.daily-log-trip {
  font-size: 14px;
  letter-spacing: 1px;
  .day-count {
    font-weight: bold;
    margin-right: 4px;
  }
  a,
  a:visited {
    color: var(--pink);
  }
}
.location {
  display: flex;
  align-items: center;
  color: var(--neutral);
  font-size: 0.9rem;
  font-style: italic;
  > *:first-child {
    margin-right: 5px;
    opacity: 0.82;
  }
}
.dailyLog-details {
  .memories {
    margin: 40px 0;
    font-size: 0.9rem;
    letter-spacing: 0.2px;
    line-height: 1.25rem;
    .card {
      border-left: 5px solid var(--pink-500);
    }
  }
  .location {
    margin: 10px 2px 10px;
  }
}
footer.dailyLog-details {
  > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.memories {
  .memory {
    background: rgba(0, 0, 0, 0.3);
    border-left: 5px solid var(--pink);
    // padding: 15px 10px;
    font-size: 0.9rem;
  }
}

.calendar .calendar__day.existing-dailylog-date {
  // background: var(--gold-400);
  // border-radius: 50%;
  // color: var(--gold-600);
  // border-radius: 50%;
}
.calendar .calendar__day.trip-date {
  background: var(--blue-400);
  // border-radius: 50%;
  border-radius: 0;
  // &:first-child {
  //   border-radius: 50% 0 0 50%;
  // }
}
