@font-face {
  font-family: "Monoton";
  src: url("/fonts/Monoton/Monoton-Regular.eot");
  src: url("/fonts/Monoton/Monoton-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Monoton/Monoton-Regular.woff2") format("woff2"),
    url("/fonts/Monoton/Monoton-Regular.woff") format("woff"),
    url("/fonts/Monoton/Monoton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open_Sans/OpenSans-Regular.eot");
  src: url("/fonts/Open_Sans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2"),
    url("/fonts/Open_Sans/OpenSans-Regular.woff") format("woff"),
    url("/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open_Sans/OpenSans-Light.eot");
  src: url("/fonts/Open_Sans/OpenSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Open_Sans/OpenSans-Light.woff2") format("woff2"),
    url("/fonts/Open_Sans/OpenSans-Light.woff") format("woff"),
    url("/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open_Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
