html,
body,
#root,
.app {
  min-height: 100vh;
  min-height: calc(100dvh + env(safe-area-inset-top, 0px));
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  // list-style: none;
  padding-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
