@import "./fontFaces.scss";

:root {
  --safeTop: env(safe-area-inset-top, 4px);
  --safeBottom: env(safe-area-inset-bottom, 4px);
  --safeContentTop: calc(var(--safeTop) + 0px);
  --titleFont: Monoton;
  --textFont: "Open Sans";
  --darkBlue: #324d60;
  --blue: #497799;
  --gold: #ffc87d;
  --pink: #deb9bf;
  --popupBackground: rgba(38, 61, 74, 0.97);

  --white-100: #fbfbfa;
  --white: #f1f1ee;

  --neutral-200: #e6e4e0;
  --neutral-300: #e3e1dc;
  --neutral-400: #e0ded8;
  --neutral: #dddbd5;
  --neutral-600: #c9c8c2;
  --neutral-700: #b5b4af;

  //   --gold-400: #e2b87f;
  --gold-200: #fff4e4;
  --gold-300: #fce5c6;
  --gold-400: #fcd8a7;
  --gold-500: #ffc87d;
  --gold-600: #e0a554;
  --gold-700: #c98c38;
  --gold-800: #b97c27;
  --blue-300: #324d60;
  --blue-400: #3c6a8d;
  --blue-500: #5280a3;
  --blue-600: #7595b4;
  --blue-700: #a6b6cb;
  --blue-900: #e2ebf7;
  --pink-500: #deb9bf;
  --pink-900: #5b393e;
  --error: #ff90a2;
  --gradientBackground: linear-gradient(
    4deg,
    var(--pink),
    var(--blue-600) 60%,
    var(--blue-400) 85%
  );
}
