html {
  font-size: 16px;
  font-family: var(--textFont);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-family: var(--titleFont);
  color: var(--gold);
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 10px 0 20px;
}

h2 {
  font-size: 2.6rem;
  line-height: 2.5rem;
  margin: 12px 0;
}

.page-title {
  font-family: var(--textFont);
  letter-spacing: -1px;
  position: relative;
  font-weight: 100;
  font-size: 2.3rem;
  color: var(--gold-700);
}
.error {
  color: var(--error);
}
