.tags {
  display: flex;
  margin-bottom: -5px;
  margin-right: -5px;
  .tag {
    margin-right: 4px;
    margin-bottom: 5px;
    padding: 7px 10px 9px;
    border: 1px solid var(--white);
    border-radius: 25px;
    line-height: 12px;
    font-size: 14px;
  }
}
