.big-date {
  display: flex;
  .date-number {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    letter-spacing: -0.125em;
  }
  .month {
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  .year {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
