.login-form {
  box-sizing: border-box;
  width: 100%;
  form {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  button {
    margin-top: 1rem;
  }
  @media (min-width: 1024px) {
    margin: 30px auto 30vh;
  }
}
.login-popup {
  .popup {
    height: calc(100vh - 20px);
  }
  .popup-content {
    justify-content: center;
  }
}
.profile-screen {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  .card {
    width: 100%;
  }
}
