.big-date {
  display: flex;
  .date-number {
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: -2px;
    margin-right: 4px;
  }
  .month {
    font-size: 26px;
    font-weight: 100;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    top: 1px;
    left: -1px;
  }
  .year {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.big-month {
  &.shadowed {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
  }
  .month {
    letter-spacing: -1px;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 2px;
  }
  .year {
    font-size: 16px;
    letter-spacing: 5.5px;
    line-height: 16px;
  }
}
