.card {
  padding: 20px;
  border-radius: 0 10px 10px 0;
  border-left: 5px solid var(--pink-500);
  background: rgba(39, 66, 85, 0.68);

  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  //   background: linear-gradient(180deg, rgba(38, 61, 74, 0.93) 0%, rgba(50, 82, 101, 0.91) 100%);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-top: -10px;
  list-style: none;
  padding: 0;
  > * {
    flex: 1 1 450px;
    margin-right: 10px;
    margin-top: 10px;
  }
}
a > .card {
  height: 100%;
}

.overlay {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: #000;

  > img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    opacity: 0.75;
  }
  > *:not(img) {
    z-index: 1;
  }
}
.loading {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
