.app-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  // height: calc(100vh + env(safe-area-inset-top, 0px));
  z-index: -1;
  background: var(--blue);

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      var(--darkBlue) 7%,
      #324d60b3 25%,
      transparent 50%
    );
  }
  &.blurred .overlay {
    background: linear-gradient(
      180deg,
      #324d60 10%,
      rgba(44, 65, 76, 0.25) 71.96%,
      rgba(94, 125, 148, 0) 108.29%,
      rgba(50, 92, 124, 0.09) 108.3%
    );
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    transition: opacity 0.25s ease-out;
    position: absolute;
    object-position: bottom;
  }
  img.blurred {
    filter: blur(13px);
    &.placeholder {
      filter: blur(18px);
    }
  }
  &.loading {
    img {
      opacity: 0;
    }
    img.placeholder {
      opacity: 0.85;
    }
  }
  &.success {
    img {
      opacity: 1;
    }
  }
}
