nav.nav {
  padding: 20px 10px;
  // background: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.5));
  // color: white;
  display: flex;
  flex-wrap: wrap;
  > div {
    margin: 0;
  }
  &.top {
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
  }
  &.bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
  }
}
