html a,
html a:visited {
  color: var(--white);
  transition: color 0.2s ease-out;
  text-decoration: none;
}
html a:hover {
  color: var(--gold-700);
}

button {
  margin: 0;
  align-self: initial !important;
  font-family: var(--textFont);
}

input,
textarea,
input:-webkit-autofill,
input:-webkit-autofill:hover,
// input:focus,
// input:active,
input:-internal-autofill-selected,
select {
  background-color: #00000024;
  color: var(--white);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  margin: 0.5rem 0 2rem;
  font-size: 1rem;
}
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  box-shadow: 0 0 0 1pt var(--pink);
}
textarea {
  resize: none;
}
textarea.resizable {
  resize: vertical;
}

form {
  width: 600px;
  max-width: 100%;
  label {
    letter-spacing: 1.5px;
  }

  .error {
    padding: 1rem 0;
  }
}
.form-actions {
  display: flex;
  // justify-content: flex-end;
  text-align: center;
  > * {
    margin-left: 5px;
  }
  button {
    min-width: 100px;
    // margin: 10px;
  }
}

a.button {
  border: 1px solid var(--white);
  padding: 5px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  letter-spacing: 2px;
}
select {
  // appearance: none;
  background: #2e4658;
}
// select {
//   --select-border: #777;
//   --select-focus: var(--pink);
//   --select-arrow: var(--select-border);

//   // A reset of styles, including removing the default dropdown arrow
//   appearance: none;
//   // Additional resets for further consistency
//   background-color: transparent;
//   border: none;
//   padding: 0 1em 0 0;
//   margin: 0;
//   width: 100%;
//   font-family: inherit;
//   font-size: inherit;
//   cursor: inherit;
//   line-height: inherit;

//   width: 100%;
//   min-width: 15ch;
//   max-width: 30ch;
//   border: 1px solid var(--select-border);
//   border-radius: 0.25em;
//   padding: 0.25em 0.5em;
//   font-size: 1.25rem;
//   cursor: pointer;
//   line-height: 1.1;
//   background-color: #fff;
//   background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
//   grid-template-areas: "select";
//   align-items: center;
// }

// select::after {
//   content: "";
//   width: 0.8em;
//   height: 0.5em;
//   background-color: var(--select-arrow);
//   clip-path: polygon(100% 0%, 0 0%, 50% 100%);
//   grid-area: select;
//   justify-self: end;
// }
